<!doctype html>
<html>
    <head>
      {% if title %}
      <title>{{ title }} - Tieto</title>
      {% else %}
      <title>Welcome to Tieto</title>
      {% endif %}
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="top-bar">
            <h1 id="logo">Tieto</h1>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">{{ _('Login') }}</a>
            {% else %}
            <a href="{{ url_for('index') }}">{{ _('Home') }}</a>
            <a href="{{ url_for('upload') }}">{{ _('Upload') }}</a>
            <a href="{{ url_for('logout') }}">{{ _('Logout') }}</a>
            {% endif %}
            <button id="theme-toggle" onclick="ChangeTheme()">Toggle Theme</button>
            {% if current_user.is_authenticated %}
            <p>Logged in as {{ current_user.username }}</p>
            {% endif %}
        </div>
        <div class="content">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
<script src="{{ url_for('static', filename='script.js') }}"></script>