{% extends "base.html" %}

{% block content %}
    <h1>{{ _('Files') }}</h1>
    <div class="sidebar">
        <div class="file-filtering">
            <h2>{{ _('Filter Files') }}</h2>
            <div class="file-filtering-options">
                <label for="fileNameFilter">{{ _('Filter by name:') }}</label>
                <input type="text" id="fileNameFilter" placeholder="Enter file name">
            </div>
            <div class="file-filtering-options">
                <label for="fileTypeFilter">{{ _('Filter by type:') }}</label>
                <select id="fileTypeFilter">
                    <option value="">All</option>
                    <option value=".txt">.txt</option>
                    <option value=".pdf">.pdf</option>
                    <option value=".jpg">.jpg</option>
                    <option value=".png">.png</option>
                    <option value=".docx">.docx</option>
                    <!-- Add more file types as needed -->
                </select>
            </div>
            <div class="file-filtering-options">
                <input type="checkbox" id="togglePrivateFiles" checked title="Toggle Private Files">
                <label for="togglePrivateFiles">{{ _('Private Files') }}</label>
            </div>
            <div class="file-filtering-options">
                <input type="checkbox" id="togglePublicFiles" checked title="Toggle Public Files">
                <label for="togglePublicFiles">{{ _('Public Files') }}</label>
            </div>
            <div class="file-filtering-options">
                <button id="downloadSelectedFiles">{{ _('Download selected files') }}</button>
            </div>
        </div>
        <div class="file-upload-box">
            <h1>{{ _('Upload File') }}</h1>
            <form action="" method="post" enctype="multipart/form-data">
                {{ upload_form.hidden_tag() }}
                {{ upload_form.file.label }} {{ upload_form.file() }}
                {{ upload_form.is_public.label }} {{ upload_form.is_public() }}
                {{ upload_form.submit() }}
            </form>
        </div>
    </div>
    <div class="files">
        <div class="file-list private-files">
            <h3>{{ _('Private Files') }}</h3>
            {% for file in files %}
            <div class="file-item">
                <div class="file-item-name">
                    <input type="checkbox" class="file-checkbox" data-filename="{{ file }}">
                    <a href="{{ url_for('private_file', filename=file, user_id=current_user.id) }}">{{ file }}</a>
                </div>
                <div class="file-actions">
                    <a href="{{ url_for('private_file', filename=file, user_id=current_user.id) }}" download>{{ _('Download') }}</a>
                    {% if file.endswith('.png') or file.endswith('.jpg') or file.endswith('.jpeg') or file.endswith('.gif') or file.endswith('.webp') or file.endswith('.svg') %}
                    <a href="{{ url_for('delete_file', filename=file, user_id=current_user.id, access='private') }}" onclick="return confirm('Are you sure you want to delete this file?');">{{ _('Delete') }}</a>
                    <a href="{{ url_for('private_file', filename=file, user_id=current_user.id) }}" class="file-item-link-corner">{{ _('View') }}</a>
                    {% else %}
                    <a href="{{ url_for('delete_file', filename=file, user_id=current_user.id, access='private') }}" class="file-item-link-corner" onclick="return confirm('Are you sure you want to delete this file?');">{{ _('Delete') }}</a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        {% if public_files %}
        <div class="file-list public-files">
            <h3>{{ _('Public Files') }}</h3>
            {% for file in public_files %}
            <div class="file-item">
                <div class="file-item-name">
                    <input type="checkbox" class="file-checkbox" data-filename="{{ file.name }}">
                    <a href="{{ url_for('public_file', filename=file.path) }}" style="color: green;">{{ file.name }}</a>
                    <p id="file-owner-{{ file.path }}">Owner: {{ file.owner.username }}</p>
                </div>
                <div class="file-actions">
                    <a href="{{ url_for('public_file', filename=file.path) }}" download>{{ _('Download') }}</a>
                    {% if file.path.endswith('.png') or file.path.endswith('.jpg') or file.path.endswith('.jpeg') or file.path.endswith('.gif') or file.path.endswith('.webp') or file.path.endswith('.svg') %}
                    <a href="{{ url_for('delete_file', filename=file.path, user_id=current_user.id, access='public') }}" onclick="return confirm('Are you sure you want to delete this file?');">{{ _('Delete') }}</a>
                    <a href="{{ url_for('public_file', filename=file.path) }}" class="file-item-link-corner">{{ _('View') }}</a>
                    {% else %}
                    <a href="{{ url_for('delete_file', filename=file.path, user_id=current_user.id, access='public') }}" class="file-item-link-corner" onclick="return confirm('Are you sure you want to delete this file?');">{{ _('Delete') }}</a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
{% endblock %}